.galery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-body img {
  width: 100%;
}

.card-body img:hover {
  transform: scale(1.3);
}

.fa-heart {
   cursor: pointer; 
}

.fa-heart:hover {
  transform: scale(1.4);
}
.modal img{
   width: 100%; 
}